.productdisplay{
    display: flex;
    margin: 0px 80px;
 
}
.product-left{
  display: flex;
  gap: 17px;

}
.product-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-img-list img{
    height: 163px;
    border-radius: 30px;
}
.probuct-display-main{
    width: 586px;
    height: 700px;
    border-radius: 30px;

}
.product-right{
  margin: 0px 70px;
  display: flex;
  flex-direction: column;  
}
.product-right h1{
    color: black;
    font-size: 40px;
    font-weight: 700;
}
.star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    color: #000;
    font-size: 16px;
    gap: 5pxs;
}
.product-right-prices{
display: flex;
margin: 40px 0px;
font-weight: 700;
font-size: 24pxs;
gap: 100px;
}
 .product-right-oldprice{
color: #818181;
text-decoration: line-through;

 }
 .product-right-newprice{
    color: #ff4141;

 }
 .product-right-size h1{
margin-top: 55px;
color: black;
font-size: 20px;
font-weight: 600;
 }
 .product-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 10px;
    border-radius: 30px;
     
 }
 .product-sizes div{
    padding: 18px 24px;
    background: white;
    border: 2px solid black;
    border-radius:2px ;
    cursor: pointer;
    border-radius: 30px;
 }
 
 .product-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
 }
 .product-category{
    margin-top: 10px;
 }
 .product-category span{
    font-weight: 600;
 }