.shopcat{
margin-top: 125px;
}
.shopcatbanner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcatindexsort{
    display: flex;
    margin: 0px 170px; 
    justify-content: space-between;
    align-items:center;
     
     
}
.shopcatsort
{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid black;
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.shopcatsort img{
    height: 15px;
    width: 15px;
}
.shopcatindexsort p span{
    font-weight: 600;
}
.shopcat-product{
    margin: 20px 105px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    row-gap: 80px;
     
}
.loadm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 5px;
    background: #ededed;
    color: gray;
    font-size: 18px;
    font-weight: 500;
}
 